#coming-soon {
    padding: 50px 20px;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

#coming-soon h1 {
    color: #474747;
    font-weight: 100;
    font-size: 3.5rem;
    margin-bottom: 50px;
    text-align: center;
}

#coming-soon h3 {
    color: #474747;
    font-weight: 700;
    line-height: 1.6;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#coming-soon a {
    color: #e05120;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 25px;
    text-decoration: none;
}

#coming-soon a:hover {
    color: #474747;
}

#coming-soon p {
    color: #474747;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 25px;
}