body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #474747;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#home-wrapper {
    width: 100%;
    height: 100vh;
}

#home-wrapper #homeintro h1 {
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    margin: 50px 0 30px;
}

#home-wrapper #homeintro h1 span {
    display: block;
    color: #e05120;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

#home-wrapper #homeintro h1 a {
    color: #e05120;
    text-decoration: none;
}

#home-wrapper #homecontent {
    position: relative;
    text-align: center;
}

#home-wrapper #homecontent img {
    width: 100%;
    max-width: 1140px;
}

#home-wrapper #homecontent #nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

#home-wrapper #homecontent #nav-wrapper .content-wrapper {
    position: absolute;
    width: 300px;
    text-align: right;
}

#home-wrapper #homecontent #nav-wrapper a {
    display: inline-block;
    background-color: #ffffff;
    color: #e05120;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 20px;
}

#home-wrapper #homecontent #nav-wrapper .content-wrapper a:hover {
    background-color: #e05120;
    color: #ffffff;
}

@media all and (max-width: 800px) {
    #home-wrapper #homeintro h1 {
        font-size: 1.5rem;
        margin: 20px 0 10px;
    }

    #home-wrapper #homeintro h1 span {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    #home-wrapper #homecontent #nav-wrapper {
        position: initial;
        display: block;
    }

    #home-wrapper #homecontent #nav-wrapper .content-wrapper {
        position: initial;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    #home-wrapper #homecontent #nav-wrapper a {
        display: inline-block;
        background-color: #ffffff;
        color: #e05120;
        font-size: 1.5rem;
        padding: 10px 20px;
        text-decoration: none;
        margin: 10px 20px;
    }
}